@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.topbar {
    background-color: white;
    padding: 30px 45px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}



.nav .nav-link {

    color: #214e41;
    font-family: "Raleway", sans-serif;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;

}

.drop {
    display: flex;
    align-items: center;
}

.nav .nav-link:hover {
    background-color: #43806c;
    color: white;
    border-radius: 6px;
    border: 0;
}

.topbar .nav-btn {
    display: none;
}

.topbar .nav-button {
    margin: 0 20px 0 35px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: #43806c;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #155740;
    transition: 0.3s;
}

.topbar .login {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
    margin-right: 10px;
}

.topbar .language {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
}

.logo_img {
    margin-right: auto;
    width: 75px;
    height: 22px;
}

.hero {
    height: 90vh;
    background-image: url(/img/backround.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding-top: 0;
    padding-bottom: 120px;
    display: flex;
}

.home-hero__content {
    width: 55%;
    flex-direction: column;
    display: flex;
}

.hero__heading {
    width: auto;
}

.hero__search {
    width: 100%;
    background-color: transparent;
    align-items: center;
    display: flex;
}

.hero__heading-text {
    margin-bottom: 40px;
    margin-right: 100px;
    padding-right: 0;
    color: #214E41;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    /* 127.778% */
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Euclid circular a, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

.hero__subheading-text {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #214E41;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.hero__search-drop {
    background-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hero__dropdown {
    min-width: 280px;
    background-color: transparent;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 0;
}

.w-dropdown {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
}

.hero__toggle {
    width: 100%;
}

.hero__toggle-icon {
    padding-left: 0;
    display: block;
}

.w-icon-dropdown-toggle {
    width: 1em;
    height: 1em;
    margin: auto 20px auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.hero__toggle-text {
    padding-right: 0;
}

.hero__dropdown-list {
    background-color: transparent;
}

.w-dropdown-list {
    min-width: 100%;
    background: #ddd;
    display: none;
    position: absolute;
}

.hero__search-link {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
}

.w-dropdown-link {
    color: #222;
    padding: 10px 20px;
    display: block;
}

.w-dropdown-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    position: relative;
}

margin-bottom: 40px;
margin-right: 100px;
padding-right: 0;
}

form {
    position: relative;
    width: 403px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}

input {
    width: 403px;
    height: 60px;
    flex-shrink: 0;
    padding-left: 15px;
    color: rgb(34, 34, 34);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(249, 240, 218);
    border-image: initial;
    border-radius: 6px;
}

.button {
    width: 123px;
    height: 60px;
    flex-shrink: 0;
    top: 0px;
    right: 0px;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px 6px 6px 0px;
    background: rgb(67, 128, 108);
}
.usps {
    margin-top: -95px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 4px 0px rgba(232, 230, 230, 0.60);

  }
  .w-layout-grid {
    grid-template-rows: auto auto;
    display: flex;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  
  }
  .usps__grid {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: rgba(208, 194, 194, 0.6) 1px 1px 4px;
    border-radius: 6px;
    padding: 50px;
  }
  .usps__block {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2px;
    display: flex;
  }
  .usps__img {
    width: auto;
    height: 45px;
    margin-top: 5px;
    margin-right: 10px;
    padding-top: 0px;
  }
  .why-brella {
    margin-top: 100px;
    margin-bottom: 120px;
  }
  .why-brella__grid {
    width: 100%;
    grid-column-gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
    padding-left: 60px;
    padding-right: 60px;
  }
  .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
  
  }
  .why-brella__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }
  .pre-header {
    color: var(--eucalyptus);
    letter-spacing: .05px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .why-brella__text {
    color: var(--grey);
  }