@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.topbar {
    background-color: white;
    padding: 30px 45px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}



.nav .nav-link {

    color: #214e41;
    font-family: "Raleway", sans-serif;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;

}

.drop {
    display: flex;
    align-items: center;
}

.nav .nav-link:hover {
    background-color: #43806c;
    color: white;
    border-radius: 6px;
    border: 0;
}

.topbar .nav-btn {
    display: none;
}

.topbar .nav-button {
    margin: 0 20px 0 35px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: #43806c;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}
.nav-button:hover{
    background-color: #155740;
    transition: 0.3s;
}
.topbar .login {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
    margin-right: 10px;
}

.topbar .language {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
}

.logo_img {
    margin-right: auto;
    width: 75px;
    height: 22px;
}