@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.topbar {
    background-color: white;
    padding: 30px 45px;
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}
.logo {
    margin-right: auto;
    width: 75px;
    height: 22px;
  }