@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    max-width: 1420px;
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}


.topbar {
    background-color: white;
    padding: 20px 35px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}



.nav .nav-link {

    color: #214e41;
    font-family: "Raleway", sans-serif;
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;

}

.drop {
    display: flex;
    align-items: center;
}

.nav .nav-link:hover {
    background-color: #43806c;
    color: white;
    border-radius: 6px;
    border: 0;
}

.topbar .nav-btn {
    display: none;
}

.topbar .nav-button {
    margin: 0 20px 0 35px;
    padding: 10px 14px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: white;
    background-color: #43806c;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #155740;
    transition: 0.3s;
}

.topbar .login {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
    margin-right: 10px;
}

.topbar .language {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
}

.logo_img {
    margin-right: auto;
    width: 75px;
    height: 22px;
    align-items: center;
}

.hero {
    height: 90vh;
    background-image: url(/img/backround.jpg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding-top: 0;
    padding-bottom: 120px;
    display: flex;
}

.home-hero__content {
    width: 55%;
    flex-direction: column;
    display: flex;
}

.hero__heading {
    width: auto;
}

.hero__search {
    width: 100%;
    background-color: transparent;
    align-items: center;
    display: flex;
}

.hero__heading-text {
    margin-bottom: 40px;
    margin-right: 100px;
    padding-right: 0;
    color: #214E41;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    /* 127.778% */
}

h1,
h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Euclid circular a, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}

.hero__subheading-text {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #214E41;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
}

.hero__search-drop {
    background-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hero__dropdown {
    min-width: 280px;
    background-color: transparent;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 0;
}

.w-dropdown {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
}

.hero__toggle {
    width: 100%;
}

.hero__toggle-icon {
    padding-left: 0;
    display: block;
}

.w-icon-dropdown-toggle {
    width: 1em;
    height: 1em;
    margin: auto 20px auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.hero__toggle-text {
    padding-right: 0;
}

.hero__dropdown-list {
    background-color: transparent;
}

.w-dropdown-list {
    min-width: 100%;
    background: #ddd;
    display: none;
    position: absolute;
}

.hero__search-link {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
}

.w-dropdown-link {
    color: #222;
    padding: 10px 20px;
    display: block;
}

.w-dropdown-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    position: relative;
}

margin-bottom: 40px;
margin-right: 100px;
padding-right: 0;
}

form {
    position: absolute;
    width: 403px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}

input {
    height: 60px;
    flex-shrink: 0;
    padding-left: 15px;
    color: rgb(34, 34, 34);
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(249, 240, 218);
    border-image: initial;
    border-radius: 6px 0 0 6px;
}

.button {
    width: 123px;
    height: 60px;
    flex-shrink: 0;
    top: 0px;
    right: 0px;
    cursor: pointer;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 0px 6px 6px 0px;
    background: rgb(67, 128, 108);
}

.usps {
    margin-top: -95px;
    margin-bottom: 100px;
    box-shadow: 1px 1px 4px 0px rgba(232, 230, 230, 0.60);

}

.w-layout-grid {
    grid-template-rows: auto auto;
    display: flex;
    grid-row-gap: 16px;
    grid-column-gap: 16px;

}

.usps__grid {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: rgba(208, 194, 194, 0.6) 1px 1px 4px;
    border-radius: 6px;
    padding: 50px;
}

.usps__block {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2px;
    display: flex;
}

.usps__img {
    width: auto;
    height: 45px;
    margin-top: 5px;
    margin-right: 10px;
    padding-top: 0px;
}

.why-brella {
    margin-top: 100px;
    margin-bottom: 120px;
}

.why-brella__grid {
    width: 100%;
    grid-column-gap: 60px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: stretch;
    padding-left: 60px;
    padding-right: 60px;
}

.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;

}

.why-brella__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.pre-header {
    color: var(--eucalyptus);
    letter-spacing: .05px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
    color: #43806C;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 153.846% */
    letter-spacing: 0.05px;
    text-transform: uppercase;
}

.why-brella__heading {
    color: #214E41;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    /* 127.778% */
}

.why-brella__text {
    color: var(--grey);
    color: #757575;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    letter-spacing: 0.02px;
}

.button.is--underline {
    min-width: 0;
    border-style: none none solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--pine);
    color: var(--pine);
    letter-spacing: .02px;
    background-color: transparent;
    border-radius: 0;
    padding: 0 0 10px;
    font-size: 18px;
    line-height: 18px;

}

.why-brella__graph {
    min-height: 432px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
}

.why-brella__column {
    align-items: flex-end;
    display: flex;
}

.why-brella__graph-text {
    padding-top: 10px;
    padding-right: 10px;
}

.why-brella_graph-content {
    margin-bottom: 45px;
    padding-right: 20px;
}

.w-col-6 {
    width: 50%;
}

.w-col {
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.why-brella__graph-stat {
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 70px;
    line-height: 90px;
}

.why-brella__graph-line {
    z-index: 999;
    width: 200%;
    height: 2px;
    background: #F0A446;
    display: flex;
    position: absolute;
}

.why-brella__graph-desc {
    color: var(--pine);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
}

.w-row .w-row {
    margin-left: 0;
    margin-right: 0;
}

.why-brella__bars-column {
    align-items: flex-end;
    display: flex;
}

.w-col .w-col {
    padding-left: 0;
    padding-right: 0;
}

.why-brella__bar-left {
    padding-right: 20px;
}

.why-brella__bar-text {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
}

.why-brella__short {
    height: 150px;
    background-color: #43806c;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
}

.why-brella__short {
    width: 130px;
    height: 10px;
    background-color: #43806c;
    transition: width 10s cubic-bezier(0, 0, 1, 1) 1000ms;
    transition: 3s;
}

.why-brella__short:hover {
    height: 150px;
}


.why-brella__tall {
    width: 130px;
    height: 10px;
    background-color: #43806c;
    transition: width 10s cubic-bezier(0, 0, 1, 1) 1000ms;
    transition: 3s;
}

.why-brella__tall:hover {
    height: 300px;
}

.why-brella__bar-text {
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
}

.pre-header.is--dark {
    color: var(--pine);
}

.nav__menu {
    width: 100%;
    flex-flow: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.w-nav-menu {
    float: right;
    position: relative;
}

.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.w-button {
    color: #214E41;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    /* 100% */
    letter-spacing: 0.02px;
}

.nav__link.is--login {
    z-index: 7;
    margin-left: 3px;
}

.nav__link {
    color: var(--pine);
    justify-content: space-around;
    margin-left: 3px;
    margin-right: 0;
    padding: 0 1.8vw;
    font-weight: 600;
    display: flex;
}

.w-dropdown {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}

.dropdown-toggle {
    color: var(--pine);
    justify-content: space-between;
    align-items: center;
    padding: 0;
    display: flex;
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
}

.image-27 {
    width: 12px;
    height: 100%;
    margin-left: 8px;
}

.dropdown-list {
    top: -6px;
}

.w-dropdown-list {
    min-width: 100%;
    background: #ddd;
    display: none;
    position: absolute;
}

.nav__link-dropdown {
    color: var(--pine);
    background-color: transparent;
    padding-top: 15px;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
}

.w-dropdown-link {
    color: #222;
    padding: 10px 20px;
    display: block;
}

.wg-element-wrapper {
    align-items: center;
    display: flex;
    position: relative;
}

.wg-dropdown-1-2 {
    width: auto;
    color: var(--pine);
    text-transform: uppercase;
    flex-direction: column;
    align-items: stretch;
    font-weight: 600;
}

.wg-element-wrapper.sw3 {
    display: none;
}

.wg-element-wrapper {
    align-items: center;
    display: flex;
    position: relative;
}

.wg-selector-2 {
    color: #000;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
    transition: color .2s;
    position: relative;
    overflow: hidden;
}

.dvas {
    display: flex;
}

.dva_left {
    background: #E3EEED;
    padding: 120px;
}

.dva_right {
    background: #214E41;
    padding: 120px;
}

.conect {
    display: inline-flex;
    padding: 9px 210px 9px 0px;
    align-items: center;
    gap: 15px;
}

.conect_tit {
    color: #214E41;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 34px;
}

.conect_img {
    width: 30px;
    height: 23px;
}

.str {
    color: #43806C;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 18px;
}

.dva_right-txt {
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.02px;
    width: 491px;
}

li {
    list-style: none;
    color: #214E41;
    padding: 0 40px;
}

.counter {
    color: #F0A446;
    font-family: "Roboto";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 13px;
}

.bottom_cards {
    display: flex;
    justify-content: space-around;
}

.lit {
    display: flex;
}

.card_tit {
    color: #F0A446;
    font-family: "Roboto";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 13px;
}

.card_txt {
    color: #214E41;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 276px;
}

.plan__stats {
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.plan__stats-text {
    color: #214E41;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 169.231% */
    letter-spacing: 0.02px;
}

.phone_p {
    justify-content: space-between;
}

.claims__grid {
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: .75fr 1fr;
}

.claims__device {
    height: auto;
    object-fit: fill;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.claims__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 120px;
    display: flex;
}

.employers {
    background-image: url(./img/girl.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    padding-top: 120px;
    padding-bottom: 120px;
    display: block;
}

.claims__img.image-block-left {
    width: auto;
    height: auto;
    max-height: 500px;
}

.employers__content.info-block {
    width: 50%;
    padding-bottom: 0;
}

.employers__div {
    margin-right: 100px;
}

.brella-brings {
    margin-top: 120px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col-6 {
    flex: 50% 1 1;
}

.brella-brings .first {
    background-color: #e3eeed;
    display: flex;
    height: 640px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.brella-brings .first span {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    color: #214e41;
}

.brella-brings .first h1 {
    font-family: "Roboto";
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #214e41;
}

.brella-brings .first p {
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #43806c;
}

.brella-brings .second {
    background-color: #214e41;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 640px;
}

.brella-brings .second p {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #ffffff;
}

.proudly-backed-by {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.proudly-backed-by h1 {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #214E41;
}

.proudly-backed-by .box {
    justify-content: space-around;
    margin-top: 115px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.proudly-backed-by .box .vector {
    font-size: 40px;
    color: #214E41;
    padding-right: 30px;
}

.proudly-backed-by .article {
    display: flex;
    justify-items: center;
}

.slips {
    justify-content: center;
    gap: 40px;
    flex-shrink: 0;
}

.col-2 {
    flex: 16.6% 1 1;
}

.proudly-backed-by .article img {
    width: 140px;
    height: 60px;
}

span {
    color: #43806C;
    font-family: Raleway;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.slip_img {
    width: 355px;
    height: 237px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

.slip_txt {
    color: #214E41;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    width: 342px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cta-block {
    background: #E3EEED;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
}

.cta-block__img-div {
    width: 50%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.container.is--plan-easy {
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}

.cta-block__content {
    width: 50%;
    padding-left: 120px;
    right: 0;
}

.cta-block__heading {
    margin-bottom: 60px;
    align-items: flex-end;


}

.slips {
    padding: 120px;
}

.button {
    min-width: 125px;
    border: 1px solid #43806C;
    ;
    background: #43806C;
    ;
    color: #fff;
    text-align: center;
    letter-spacing: .02px;
    border-radius: 6px;
    margin-top: 0;
    padding: 12px 20px;
    font-weight: 600;
    line-height: 21px;
}

.cta-block__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer {
    background: #214E41;
    text-align: center;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer__grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer__logo-div {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.footer__content {
    width: 100%;
    border-bottom: 1px solid #fff;
    grid-template-rows: auto;
    margin-bottom: 70px;
    padding-bottom: 70px;
}
.footer__logo-link {
    width: 6rem;
}
.footer__ghost-div {
    display: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}